.DS_Store
/data/logs/*
!/data/logs/README.txt
/data/cache/*
!/data/cache/README.txt
/public/slides/*
!/public/slides/README.txt
/public/activity_files/*
!/public/activity_files/
!/public/activity_files/temp/
!/public/activity_files/README.txt
/config/autoload/local.php
/database/module/EdTrak/phinx.yml
/database/module/User/phinx.yml
/public/settings.xml
/public/php/*
/nbproject/private/
/nbproject/project.properties
/nbproject/project.xml
/public/activity_files/temp/*
/public/activity_files/splashscreen/*
!/public/
!/public/activity_files/temp/README.txt
!/public/activity_files/splashscreen/README.txt
!/public/activity_files/splashscreen/
!/public/activity_files/temp/README.txt
!/public/activity_files/.htaccess
/vendor/serversettings.json
/data/sqlbackups/*.zip
.idea/
/nbproject/nbproject/private/
/nbproject/nbproject/project.properties
/nbproject/nbproject/project.xml
/.settings/com.zend.php.formatter.core.prefs
/.settings/org.eclipse.php.formatter.core.prefs
/config/development.config.php
/library/app-source/nbproject/private/
dist/
bower_components/
node_modules/
!/vendor/**/node_modules/
tmp/
public/css/.sass-cache
library/app-source/leaderboard/.sass-cache
library/app-source/survey-engine-admin/.gulp-scss-cache

# For onsite-view
library/app-source/onsite-view/dist/
library/app-source/onsite-view/node_modules/
library/app-source/onsite-view/bower_components/

# For Survey Engine
library/app-source/bel-admin/node_modules/
library/app-source/bel-admin/bower_components/
library/app-source/bel-admin/build/
